
body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 1fr 350px;
  background: #333;
  margin: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: left;
}
nav {
  background: #000;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


main {
  background: #ccc;
  color: #222;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 2rem 0 0 1.5rem;
  font-size: 1.5rem;
  font-family: Georgia, serif;
}

.right-sidebar {
  background: #fff;
  color: #222;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 2rem 0 0 1.5rem;
  font-size: 1.5rem;
  font-family: Georgia, serif;
}
footer {
  background: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}


nav {
  background: #000;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1.2rem 2rem;
  display: block;
  transition: background 0.2s;
}

nav ul li a:hover {
  background: #222;
}